{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Information</title>
    <link rel="stylesheet" href="{% static 'css/user-register-page.css' %}"> <!-- Link to the external CSS file -->
</head>
<body>

<div class="container">
    <h2>User Registration</h2>
    <form action="{% url 'users:register' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="username" required>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="example@gmail.com" required>
        </div>
        <div class="form-group">
            <label for="first_name">First Name:</label>
            <input type="text" id="first_name" name="first_name" placeholder="Tim" required>
        </div>
        <div class="form-group">
            <label for="last_name">Last Name:</label>
            <input type="text" id="last_name" name="last_name" placeholder="Bob" required>
        </div>
        <div class="form-group">
            <label for="password1">Password:</label>
            <input type="password" id="password1" name="password1" placeholder="********" required>
        </div>
        <div class="form-group">
            <label for="password2">Confirm Password:</label>
            <input type="password" id="password2" name="password2" placeholder="********" required>
        </div>
        <input type="submit" value="Submit">
    </form>
</div>

</body>
</html>
